<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sign-up</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content style="margin-bottom: 20px;">
      <form [formGroup]="registerForm" (ngSubmit)=" !id ? doRegister() :  doUpdate()" style="margin-bottom: 20px;">
        <ion-row>
          <ion-col>
            <app-avatar [control]="image"></app-avatar>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <app-custom-input [control]="name" label="Name" type="text"></app-custom-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-custom-input [control]="lastName" label="LastName" type="text"></app-custom-input>
          </ion-col>
        </ion-row>

       
        <ion-row>
          <ion-col>
            <app-custom-input [control]="age" label="Age" type="number"></app-custom-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <app-custom-input [control]="phone" label="Phone" type="number"></app-custom-input>
          </ion-col>
        </ion-row>

        @if (!id){
        <ion-row>
          <ion-col>
            <app-custom-input [control]="email" label="Email" type="email"></app-custom-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <app-custom-input [control]="password" label="Password" type="password"></app-custom-input>
          </ion-col>
        </ion-row>
      }
        <ion-row>
          <ion-col>
            <app-button [value]="!id? 'Register' : 'Update' " type="submit"></app-button>
          </ion-col>
        </ion-row> 
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
