<app-header title="Login"></app-header>
<div></div>
<ion-content class="login-background">

  <div class="d-flex-center">
    <form [formGroup]="loginForm" class="auth-form" (ngSubmit)="doLogin()">

      <app-logo></app-logo>
      <app-custom-input [control]="email" autocomplete="email" icon="mail-outline" type="email"
        label="Email"
      >
      </app-custom-input>

      <app-custom-input
        [control]="password"
        icon="lock-closed-outline"
        type="password"
        label="password"
      ></app-custom-input>

      <app-button type="submit" [disabled]="this.loginForm.invalid" value="Login"></app-button>

      <ion-button [routerLink]="['/sign-up', '']" class="register" expand="block" mode="ios" fill="outline">
        Register
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
      
    
    </form>
  </div>

</ion-content>  
